* {
  font-family: "Roboto", sans-serif;
}

body {
  height: 90vh;
  margin-top: 50px;
  background: linear-gradient(to bottom, #3a3a3a, #252525, #000000);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
}

.player-container {
  width: 100%; /* Set the desired width for the player */
  max-width: 800px; /* Optional: Set a maximum width */
  height: auto; /* Auto-adjust height to maintain the aspect ratio */
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2,
h1,
h3,
li,
p {
  color: white;
  text-align: center;
}

.childCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.1)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
}

p {
  color: white;
}
/* input {
  background-color: aliceblue;
} */
.MuiTextField-root {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.295);
}

.playlistTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 30px;
}

.videoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.1)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.secondRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.thirdRow {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 550px;
}
.kiddflixLogo {
  width: 700px;
}
.ParentNavBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 99vw;
  height: 50px;

  position: fixed;

  z-index: 100;
  backdrop-filter: blur(5px);

  /* background-color: rgba(0, 0, 0, 0.5); */
}

.profilePicture {
  width: 300px;
  border-radius: 10px;
}
.microProfilePicture {
  height: 25px;
  border-radius: 5px;
  margin-right: 10px;
}

.loadingContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.loadingImage {
  width: 50%;
  opacity: 0.6;
  border-radius: 20px;
}
/* MEDIA QUERYS */

@media (min-width: 701px) {
  .ParentNavBar {
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #000000bb, #ffffff00);
  }

  .playListName {
    font-size: 4rem;
  }
}

@media (max-width: 700px) {
  .kiddflixLogo {
    width: 80vw;
  }

  .secondRow {
    flex-direction: column;
  }

  .ParentNavBar {
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #ffffff00, #0000009d);
    height: 60px;
  }

  .thirdRow {
    width: 80%;
  }

  .childButton {
    font-size: xx-small;
  }

  body {
    margin-top: 0px;
  }

  .playListName {
    font-size: 2rem;
  }
}
